name: Scheduled Site Visit
on:
  schedule:
    - cron: '*/10 * * * *'  # Runs every 10 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Visit Website
        run: curl -I https://n8n-4js5.onrender.com/
